p {
    color: bisque;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#play-button {
    visibility: hidden;
}